.sign-in {
    width: 380px;
    display: flex;
    flex-direction: column;

    .title {
        margin: 10px 0;
    }

    .button {
        display: flex;
        justify-content: space-between;

        @media screen and(max-width:800px) {
            margin-left: 10px;
        }
    }

    @media screen and(max-width:800px) {
        align-items: center;
        padding: 10px;
    }
}
